In [2]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
    
json_data = ''

with open('yelp_dataset/review.json', 'r', encoding='utf-8') as in_file:
    for i, line in enumerate(in_file):
        if i == 0 and line: 
            json_data += '[' + line
        elif line:
            json_data += ',' + line
        else:
            pass
    json_data += ']\n'

data = json.loads(json_data)
review_df = json_normalize(data)

In [5]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [2]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
    
json_data = ''

with open('yelp_dataset/business.json', 'r', encoding='utf-8') as in_file:
    for i, line in enumerate(in_file):
        if i == 0 and line: 
            json_data += '[' + line
        elif line:
            json_data += ',' + line
        else:
            pass
    json_data += ']\n'

data = json.loads(json_data)
df = json_normalize(data)

In [3]:
temp = df.categories.apply(lambda categories: str(categories))
restaurant_df = df[temp.apply(lambda categories: 'Restaurants' in categories)][['categories',"business_id"]]
restaurant_df.head()

                                           categories             business_id
1   Specialty Food, Restaurants, Dim Sum, Imported...  QXAEGFB4oINsVuTFxEYKFQ
2                   Sushi Bars, Restaurants, Japanese  gnKjwL_1w79qoiV3IC_xQQ
11  Restaurants, Breakfast & Brunch, Mexican, Taco...  1Dfx3zM-rW4n-31KeC8sJg
13         Italian, Restaurants, Pizza, Chicken Wings  fweCYi8FmbJXHCqLnwuk8w
17                               Restaurants, Italian  PZ-LZzSlhSe9utkQYU8pFg

In [4]:
res_review = pd.merge(review_df,restaurant_df,on = 'business_id', how = 'left', sort = False)
res_review=res_review.fillna(0)

In [5]:
res_review.shape

(6685900, 10)

In [6]:
restaurant_r=res_review[res_review.categories!=0]

In [7]:
restaurant_r.shape

(4201684, 10)

In [8]:
restaurant_r.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,categories
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg,"Bars, Pubs, Nightlife, Tapas Bars, Restaurants"
5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4.0,I'll be the first to admit that I was not exci...,0,w31MKYsNFMrjhWxxAb5wIw,"Restaurants, Italian, Pizza"
6,3fw2X5bZYeW9xCz_zGhOHg,5,2016-05-07 01:21:02,4,G7XHMxG0bx9oBJNECG4IFg,3.0,Tracy dessert had a big name in Hong Kong and ...,5,jlu4CztcSxrKx56ba1a5AQ,"Food, Chinese, Restaurants, Desserts"
7,zvO-PJCpNk4fgAVUnExYAA,1,2010-10-05 19:12:35,1,8e9HxxLjjqc9ez5ezzN7iQ,1.0,This place has gone down hill. Clearly they h...,3,d6xvYpyzcfbF_AZ8vMB7QA,"Sports Bars, Bars, Restaurants, American (New)..."
10,8mIrX_LrOnAqWsB5JrOojQ,0,2011-11-30 02:11:15,0,kbtscdyz6lvrtGjD1quQTg,4.0,"Like walking back in time, every Saturday morn...",0,FIk4lQQu1eTe2EpzQ4xhBA,"Performing Arts, Amusement Parks, Museums, Arc..."

In [9]:
import re
import string
char_splitter = re.compile("[.,;!:()-]?")
def generate_candidate_phrases(text, stopwords):
    coarse_candidates = char_splitter.split(text.lower())
    candidate_phrases = []
    word=""
    n=0

    for coarse_phrase in coarse_candidates:
        words=re.split("\\s+", coarse_phrase.strip())
        previous_stop = False
        start=True
        for w in words:

            w=w.translate(str.maketrans('', '', string.punctuation))
            if w in stopwords and not previous_stop:

                # phrase boundary encountered, so put a hard indicator
                if n>1:          
                    candidate_phrases.append(word)
                previous_stop = True
                word=""
                n=0
            elif w in stopwords and previous_stop:

                word=""
                n=0
            elif w not in stopwords and len(w) > 3:
                # keep adding words to list until a phrase boundary is detected
                if start==True:
                    n=1
                    start=False
                elif previous_stop==False:
                    w="_"+w
                    n=n+1   
                else:
                    n=1
                word+=w
                previous_stop = False



    if n>1:
        candidate_phrases.append(word)

    return candidate_phrases

In [10]:
import spacy
sp = spacy.load('en') 
stop=list(sp.Defaults.stop_words) 
stop.append("said")
stop.append("came")
stop.append("tell")
stop.append("told")
stop.append("when")
stop.append("maybe")
stop.append("sure")
stop.append("like")
stop.append("it's")
stop.append("i'm")
stop.append("ask")
stop.append("asked")

In [11]:

test=restaurant_r["text"]
p=[]
for s in test:
    p.append(generate_candidate_phrases(s,stop))

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """

In [12]:
import gensim
from gensim.models import Word2Vec
model = gensim.models.Word2Vec(
        p,
        size=200,
        window=10,
        min_count=10,
        alpha=0.02,
        workers=10)
model.train(p, total_examples=len(p), epochs=20)

/Applications/anaconda3/lib/python3.6/site-packages/smart_open/ssh.py:34: UserWarning: paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress
  warnings.warn('paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress')

(426494954, 687270340)

In [68]:
model.save("word2vec.model")

In [ ]:
w1=['super_friendly']
model.wv.most_similar(w1)

In [14]:
w1=['highly_recommend']
model.wv.most_similar(w1)

[('absolutely_recommend', 0.5035410523414612),
 ('highly_recommend_coming', 0.46933454275131226),
 ('highly_recommend_trying', 0.44521066546440125),
 ('delicioushighly_recommend', 0.4414668381214142),
 ('definitely_recommended', 0.42504408955574036),
 ('highlyhighly_recommend', 0.4145546853542328),
 ('highly_recommend_ordering', 0.41400277614593506),
 ('highly_recommend_dining', 0.3979026675224304),
 ('attentivehighly_recommend', 0.3969406485557556),
 ('certainly_recommend', 0.3948928713798523)]

In [198]:
w1=['feel_comfortable']
model.wv.most_similar(w1)

[('feel_welcome', 0.4503967761993408),
 ('felt_comfortable', 0.40708303451538086),
 ('wasnt_stuffy', 0.4046385884284973),
 ('felt_welcome', 0.39923352003097534),
 ('feel_important', 0.38923385739326477),
 ('feel_right', 0.3871958255767822),
 ('genuine_service', 0.3838474154472351),
 ('pays_attention', 0.38256561756134033),
 ('dont_feel_intimidated', 0.37976330518722534),
 ('true_pleasure', 0.3779766857624054)]

In [15]:
w1=['rude_staff']
model.wv.most_similar(w1)

[('totally_uncalled', 0.7248241901397705),
 ('absolutely_rude', 0.7183749079704285),
 ('worse_customer_service', 0.7062989473342896),
 ('rude_employees', 0.7037721872329712),
 ('rude_behavior', 0.7006328701972961),
 ('rude_people', 0.6993989944458008),
 ('horribly_rude', 0.699008584022522),
 ('zero_customer_service_skills', 0.6949117183685303),
 ('unprofessional_staff', 0.6940279006958008),
 ('rudest_person', 0.6913320422172546)]

In [16]:
w1=['best_italian']
model.wv.most_similar(w1)

[('best_italian_restaurants', 0.8069932460784912),
 ('best_italian_restaurant', 0.7794725894927979),
 ('best_italian_food', 0.7692257761955261),
 ('real_italian_food', 0.7584949135780334),
 ('great_italian_food', 0.7569869756698608),
 ('good_italian', 0.749237060546875),
 ('italian_meal', 0.747499406337738),
 ('authentic_italian_food', 0.7452435493469238),
 ('best_italian_places', 0.7436243891716003),
 ('amazing_italian_food', 0.7399834394454956)]

In [49]:
w1=['pretty_good']
model.wv.most_similar(w1)

[('tasted_pretty_good', 0.5841901302337646),
 ('pretty_delicious', 0.583003580570221),
 ('pretty_salty', 0.5723506212234497),
 ('pretty_yummy', 0.5682516098022461),
 ('pretty_tender', 0.5565012097358704),
 ('actually_pretty_good', 0.5532486438751221),
 ('pretty_good_experience', 0.547193169593811),
 ('pretty_decent', 0.5464555025100708),
 ('pretty_flavorful', 0.532289981842041),
 ('pretty_juicy', 0.5174604058265686)]

In [50]:
w1=['great_place']
model.wv.most_similar(w1)

[('awesome_place', 0.4812101125717163),
 ('perfect_place', 0.47813719511032104),
 ('goodgreat_place', 0.47130221128463745),
 ('placegreat_place', 0.4677448868751526),
 ('wonderful_place', 0.46472039818763733),
 ('excellent_spot', 0.4515402317047119),
 ('perfectgreat_place', 0.44868409633636475),
 ('yummygreat_place', 0.4450187087059021),
 ('excellent_place', 0.4443668723106384),
 ('perfect_spot', 0.4438163936138153)]

In [815]:
#from collections import Counter
#cnt = Counter(label)
#keys = list(k for k,_ in cnt.most_common())
core=db.core_sample_indices_
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
group=[[]*n_clusters_ for _ in range(n_clusters_)]
for i in core:
    j=int(labels[i])
    group[j].append(candidates[i])

In [825]:
result=[]
for i in range(len(group)):
    re=group[i]
    if len(set(re))==1:
        result.append(re[0])
    else:
        cnt = Counter(re)
        a=cnt.most_common(1)
        result.append(a[0][0])
result

['crab_tortellini',
 'chicken_parm',
 'highly_recommend',
 'date_night',
 'make_sure',
 'excellent_dish',
 'cooked_perfectly',
 'garlic_bread']

In [62]:
from sklearn.cluster import DBSCAN
from collections import Counter
import numpy as np
def get_predict(businessid):
    test=res_review["text"][res_review.business_id==businessid]
    l=len(test)
    if l<60:
        minspl=3
        eps=0.25
    elif l<180:
        minspl=5
        eps=0.25
    elif l<500:
        minspl=8
        eps=0.25
    elif l<1000:
        minspl=10
        eps=0.25
    elif l<2000:
        minspl=12
        eps=0.25
    else:
        minspl=15
        eps=0.25
    return prediction(test,eps,minspl)

def prediction(test,eps=0.3,minspl=5):
    ##get data 
    p1=[]
    for s in test:
        p1.append(generate_candidate_phrases(s,stop))
    words=sum(p1,[])
    ##remove uncommon words
    candidates=[]
    for a in words:
        if a in model.wv:
            candidates.append(a)
    ##calculate similarity
    sim=[[0]*len(candidates) for _ in range(len(candidates))]
    for i in range(len(candidates)):
        for j in range(i,len(candidates)):
            d=model.wv.similarity(candidates[i],candidates[j])
            sim[i][j]=d
            sim[j][i]=d
    sim=np.array(sim)
    dis = sim.copy()
    dis = 1. - dis
    ##DBSCAN
   
    db = DBSCAN(metric="precomputed",algorithm="brute",eps=eps, min_samples=minspl).fit(dis)
    labels = db.labels_
    core=db.core_sample_indices_
    n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
    group=[[]*n_clusters_ for _ in range(n_clusters_)]
    for i in core:
        j=int(labels[i])
        group[j].append(candidates[i])
    result=[]
    for i in range(len(group)):
        re=group[i]
        if len(set(re))==1:
            result.append(re[0])
        else:
            cnt = Counter(re)
            a=cnt.most_common(1)
            result.append(a[0][0])
    return result

In [63]:
print(get_predict("eU_713ec6fTGNO4BegRaww"))

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """

['crab_tortellini', 'highly_recommend', 'best_italian_food', 'large_party', 'garlic_bread', 'chicken_cacciatore']

In [66]:
id='3fw2X5bZYeW9xCz_zGhOHg'
print(get_predict(id))

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """

['tracy_dessert', 'hong_kong', 'markham_place', 'long_time', 'fresh_fruit', 'steamed_rice_roll', 'pretty_good', 'great_place', 'mango_pudding', 'fried_milk']

In [57]:
id='8mIrX_LrOnAqWsB5JrOojQ'
print(get_predict(id))

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """

['pinball_machines', 'highly_recommend', 'good_time', 'great_selection', 'great_place', 'newer_ones', 'great_time', 'memory_lane', 'favorite_places', 'pretty_cool', 'play_games', 'youre_looking', 'cool_place', 'long_time', 'couple_hours', 'perfect_place', 'dont_think', 'awesome_place', 'dont_know', 'slot_machines', 'spend_hours', 'stop_yelling']

In [59]:
id='ikCg8xy5JIg_NGPx-MSIDA'
print(get_predict(id))

['dirtiest_places', 'health_inspections', 'rude_staff', 'kensington_location']

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """

In [64]:
id='zvO-PJCpNk4fgAVUnExYAA'
print(get_predict(id))

['sports_grill', 'pool_tables', 'happy_hour']

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: split() requires a non-empty pattern match.
  """